* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

:root {
  --black: #2D2E32;
  --white: #ffffff;
  --darkwhite: #f9f9f9;
  --superlightgray: #d7d7d7;
  --lightgray: #5a5959;
  --gray: #3f3f3f;
  --red: #ff0436;
}

.container {
  max-width: 133rem !important;
  margin: 0 auto !important;
  padding: 0 200px !important;
}

/* Navbar starts here */
.navbar {
  padding: 15px 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 999;
}

.nav-bg {
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.navbar_logo a {
  text-decoration: none;
  color: var(--black);
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar__links a {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar__links a:hover {
  color: var(--red);
}

.mobile-hamb {
  font-size: 30px;
  display: none;
}

.mobile-hamb:hover {
  color: var(--red);
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--white);
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.open-nav {
  left: 0;
}

.mobile-navbar-close {
  font-size: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-navbar-close:hover {
  color: var(--red);
}

.mobile-navbar__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 2.3rem;
  gap: 3rem;
  text-align: center;
}

.mobile-navbar__links li a {
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.mobile-navbar__links li a:hover {
  color: var(--red);
}

/* Hero section starts here */
.hero {
  background-color: var(--darkwhite);
}

.hero-main {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 150px 0 50px;
}

.hero-overall {
  display: flex;
  gap: 70px;
}

.hero-overall h1 {
  font-size: 55px;
  margin-bottom: 25px;
}

.hero-overall h1 img {
  max-width: 60px;
  margin-left: 30px;
}

.hero-overall p {
  font-size: 20px;
  margin-bottom: 25px;
}

.profile-links i {
  margin-right: 20px;
  color: var(--black);
  font-size: 40px;
}

/* Tech Skills starts here */
.tech-stack {
  display: flex;
  align-items: center;
  gap: 60px;
}

.tech-stack h1 {
  font-size: 26px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills img {
  max-width: 70px;
  background-color: var(--white);
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
}


/* About section starts here */
.about {
  margin: 150px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;
}

.about img {
  width: 100%;
  border-radius: 25px;
}

.about-text > * {
  margin-bottom: 10px;
}

.about h3 {
  color: var(--red);
}

.about p {
  color: var(--lightgray)
}
@media (max-width: 600px) {
  .navbar__links {
    display: none;
  }
  .mobile-hamb {
    display: flex;
  }
}